:root {
--primary-color: #212121;
--secondary-color: #757575;
--white-color: #fff;
}
body  {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}
.section {
    padding: 94px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 0 15px;
}
.page-nav,
.contacts,
.nav-links,
.header-container {
    display: flex;
}
.header-container {
    justify-content: space-between;
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
color: #2196F3;
margin-right: 93px;
}
.logo span {
    color: var(--primary-color);
}
.nav-links-item + .nav-links-item {
    margin-left: 50px;
}
.contacts-item:not(:last-child) {
    margin-right: 50px;
}
.nav-links-link,
.contacts-link {
    padding: 31px 0;
    display: block;
    color: var(--primary-color);
    font-weight: 500;
}
.contacts-link {
    color: var(--secondary-color);
}
.page-nav {
    align-items: center;
}
.nav-links-link:hover,
.contacts-link:hover,
.nav-links-link:focus,
.contacts-link:focus {
    color: #2196F3;
}